span(ng-transclude)
div(ng-if="!grid.loading")
  .row(ng-if="grid.add")
    .col-xs-12
      button.btn.btn-success(ng-click="grid.setAddingRow()" style="margin-bottom:10px") + Add      
  //FORMS
  .row
    //ADD ROW
    form(name="addRow" ng-submit="grid.addRow() && addRow.$valid" ng-if="grid.add && grid.action=='add'")
      .col-xs-12
        h2 Add
      .form-group.col-xs-6(ng-repeat="header in grid.fields" ng-if='header.edit')
        label
          strong {{header.label}}
        div(ng-switch="header.type")
          div(ng-switch-when="none")
            input.form-control(ng-model="grid.addingRow[header.name]" ng-required="header.required")
          div(ng-switch-when="date")
            //TODO: date selector (omg what a headache)
            input.form-control(ng-model="grid.addingRow[header.name]" ng-required="header.required")
          div(ng-switch-when="bool")
            input.form-control(ng-model="grid.addingRow[header.name]" ng-required="header.required" type="checkbox")
          div(ng-switch-when="password")
            input.form-control(type="password" ng-model="grid.addingRow[header.name]" ng-required="header.required")
      .clearfix
      .col-xs-12
        button.btn(type="submit") Save
        button.btn(ng-click="grid.unsetAction()" type="button") Cancel
    // EDIT ROW
    form(name="editRow" ng-submit="grid.editRow() && editRow.$valid" ng-if="grid.edit && grid.action=='edit'")
      .col-xs-12
        h2 Edit
      .form-group.col-xs-6(ng-repeat="header in grid.fields" ng-if='!header.hidden || header.edit')
        label 
          strong {{header.label}}
        div(ng-switch="header.type")
          div(ng-switch-when="none")
            input.form-control(ng-model="grid.editingRow[header.name]" ng-required="header.required" ng-disabled="!header.edit")
          div(ng-switch-when="date")
            // TODO: date selector (omg what a headache)
            input.form-control(ng-model="grid.editingRow[header.name]" ng-required="header.required" ng-disabled="!header.edit")
          div(ng-switch-when="bool")
            input.form-control(ng-model="grid.editingRow[header.name]" ng-required="header.required" ng-disabled="!header.edit" type="checkbox")
          div(ng-switch-when="password")
            input.form-control(type="password" ng-model="grid.editingRow[header.name]" ng-required="header.required" ng-disabled="!header.edit")
      
      .clearfix
      .col-xs-12
        button.btn(type="submit") Save
        button.btn(ng-click="grid.unsetAction()" type="button") Cancel
    // DELETE ROW
    form(name="deleteRow" ng-submit="grid.deleteRow() && deleteRow.$valid" ng-if="grid.delete && grid.action=='delete'")
      .col-xs-12
        h2 Delete
      .col-xs-12
        button.btn(type="submit") Delete
        button.btn(ng-click="grid.unsetAction()" type="button") Cancel
  //SEARCH and ADD button
  .row(ng-if="grid.search")
    form(ng-submit="grid.getData(0)")
      .col-xs-4
        .input-group
          input.form-control(ng-model="grid.searchString" aria-describedby="search")
          span.input-group-addon(id="search" ng-click="grid.getData(0)") ðŸ”
      .col-xs-4
        select.form-control(ng-model="grid.searchFilter" ng-options="item as item.label for item in grid.searchOptions track by item.name" ng-if="grid.fields.length > 0")
      .clearfix
        button(type="submit" style="display:none")
  //TABLE
  .row
    .table-responsive
      table(class='{{grid.tableClass}}')
        thead
          tr
            th.text-center(ng-repeat='header in grid.fields' ng-if='!header.hidden') {{header.label}}
            th.text-right(ng-if='grid.edit')
            th.text-right(ng-if="grid.delete")
              
         tbody
          tr(ng-repeat='row in grid.rows')
            td.text-center(ng-repeat='header in grid.fields' ng-if='!header.hidden')
              span(ng-switch="header.type")
                span(ng-switch-when="date") {{row[header.name] | date:'dd/MM/yyyy - HH:mm'}}
                span(ng-switch-when="bool") 
                  span(ng-if="row[header.name]") âœ“
                  span(ng-if="!row[header.name]") âœ—
                span(ng-switch-when="none") {{row[header.name]}}
                  
            td.text-right(ng-if='grid.edit')
              a(style='cursor:pointer;text-decoration:none' ng-click='grid.setEditingRow(row)') âœŽ
            td.text-right(ng-if="grid.delete")
              a(style='cursor:pointer;text-decoration:none' ng-click='grid.setDeleteRow(row)') âŠ—
  //PAGINATOR
  .row.text-center
    ul.pagination
      li(ng-repeat="page in grid.paginator.pages" ng-class="{active: page==grid.paginator.page}")
        a(ng-click="grid.getData(page)" style='cursor:pointer') {{page}}
div(ng-if="grid.loading")
  p.text-center Loading ...
